#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}

#root h2{
    font-family:  'IBM Plex Sans Arabic', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 8px;
}

.todo-list{
    background-color: #11cfff;
    padding: 25px;
    border-radius: 20px;
}

ul{
    padding: 0;
}