body {
    margin: 0;
    font-family:  'IBM Plex Sans Arabic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #11cfff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

#root{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: black;
}

#root h2{
    font-weight: bold;
    font-size: 36px;
    margin: 8px;
}

.todo-list{
    border-radius: 20px;
    width: 95%;
    max-width: 600px;
    position: absolute;
}

ul{
    padding: 0;
}